<h1><%= @post.title %></h1>

<% @post.categories.each do |category| %>
    <li>
        <%= category.name %>
    </li>
<% end %>

<h2><%= @post.content %></h2>

<h4>Comments:</h4>
<% @post.comments.each do |comment| %>
    <%= comment.user.username %>
    says: <%= comment.content %>
<% end %>

<h4>Commentors:</h4>
<% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user.id) %>
<% end %>

<h4>New Comment:</h4>

<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Choose a User" %><br>
Or Create a User:
    <%= f.fields_for :user, User.new do |user_attributes| %>
        <%= user_attributes.text_field :username %><br>
    <% end %>
        <%= f.label "comment content" %>
        <%= f.text_field :content %>
    <%= f.submit %>
<% end %>